<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bibliotecas/css/cadastro.css">
    <title>Cadastro</title>
</head>

<body>
    <header>
        <div>
            <img src="../../Imagens/logotipo.png" alt="">
        </div>
        <div class="div-header-buttons">
                <button class="header-buttons">Login</button>
                <button class="header-buttons">Redefinir senha</button>
        </div>
    </header>
    <section>
        <form action="">
            <h1>Cadastro</h1>
            <label for="Nome">Nome</label>
            <input type="text" name="" id="Nome">
            <label for="e-mail">E-mail</label>
            <input type="tel" name="" id="e-mail">
            <label for="telefone">Telefone</label>
            <input type="tel" name="" id="telefone">
            <label for="data">Data de nascimento</label>
            <input type="date" name="" id="data">
            <label for="cpf">CPF</label>
            <input type="text" name="" id="cpf">
            <label for="password">Senha</label>
            <input type="password" name="" id="password">
            <button>Cadastrar</button>
        </form>
        <img src="../../Imagens/cadastro_wine.jpg" alt="" class="form-img">
    </section>
</body>

</html>