<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bibliotecas/css/login.css">
    <title>Login</title>
</head>

<body class="alice-regular">
    <header>
        <div class="header">
            <div class="logotipo">
                <img src="../../Imagens/logotipo.png" alt="Logotipo do site">
            </div>
            <div class="div-buttons">
                <button class="header-buttons alice-regular">
                    Criar conta
                </button>

                <button class="header-buttons alice-regular">
                    Redefinir senha
                </button>
            </div>
        </div>
    </header>
    <section>  
            <form action="">
                <h1 class="alice-regular">Login</h1>
                <label for="e-mail">E-mail</label>
                <input type="text" name="" id="e-mail" class="alice-regular">
                <label for="password">Senha</label>
                <input type="password" name="" id="password">
                <button class="button-form alice-regular">Acessar</button>
            </form>
            <img src="../../Imagens/Login_wine.jpg" alt="" class="form-img">
    </section>
</body>

</html>